In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib as mpl
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets import load_boston
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
import numpy as np
from statistics import mean 
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("C:/Users/22151/Desktop/prac/mRNA_luad_cancer_selected_features_with_stage.txt")

In [ ]:
df.head()

,Unnamed: 0,SAMPLE_ID,TP53,LRP1B,KRAS,PCLO,KEAP1,CDKN2A,CDKN2B,PTPRD,...,MYD88,DNAJB1,TAL2,VHL,RRAS,SUFU,YPEL5,CNBP,CANCER,AJCC_PATHOLOGIC_TUMOR_STAGE
0,1,TCGA-05-4244-01,1.8485,-1.3344,3.3122,-1.1040,0.4341,0.3579,-4.9171,-4.9219,...,-0.6545,0.7177,-0.4452,0.7018,-3.8643,-1.0992,0.0804,-1.6262,1,4.0
1,2,TCGA-05-4249-01,5.1031,-2.1999,7.8642,-2.0559,0.9739,3.9552,-1.1988,-1.2415,...,-0.0951,-1.1713,-2.1687,0.9997,-5.5307,1.8450,0.1412,-1.3173,1,1.0
2,3,TCGA-05-4250-01,-5.6229,-0.0825,7.9838,0.3692,-0.5459,5.6423,-3.8793,-2.9943,...,-0.9910,0.9927,1.0133,0.2920,-2.5057,-0.3163,-0.3269,0.2893,1,3.0
3,4,TCGA-05-4382-01,1.8033,-2.1999,2.2266,-0.2955,-1.3722,5.3724,-1.5561,-1.6959,...,0.6844,-1.9892,0.0170,0.9279,-1.5677,0.7067,-1.6269,-0.4259,1,1.0
4,5,TCGA-05-4384-01,3.8977,2.5339,1.2420,1.0984,1.0324,1.9087,-2.3277,-1.7272,...,-0.8842,-2.9432,-2.1687,1.5310,-4.4192,1.0284,-0.4190,-0.3444,1,3.0

In [ ]:
y = df['AJCC_PATHOLOGIC_TUMOR_STAGE']
X = df.loc[:, df.columns != 'AJCC_PATHOLOGIC_TUMOR_STAGE']
X=X.drop (["SAMPLE_ID","Unnamed: 0"],axis=1)

In [ ]:
X.head()

,TP53,LRP1B,KRAS,PCLO,KEAP1,CDKN2A,CDKN2B,PTPRD,FAT4,RELN,...,TLX1,MYD88,DNAJB1,TAL2,VHL,RRAS,SUFU,YPEL5,CNBP,CANCER
0,1.8485,-1.3344,3.3122,-1.1040,0.4341,0.3579,-4.9171,-4.9219,-2.6989,-2.6277,...,1.8694,-0.6545,0.7177,-0.4452,0.7018,-3.8643,-1.0992,0.0804,-1.6262,1
1,5.1031,-2.1999,7.8642,-2.0559,0.9739,3.9552,-1.1988,-1.2415,-1.8269,-2.6135,...,2.3439,-0.0951,-1.1713,-2.1687,0.9997,-5.5307,1.8450,0.1412,-1.3173,1
2,-5.6229,-0.0825,7.9838,0.3692,-0.5459,5.6423,-3.8793,-2.9943,-2.9824,-0.5254,...,2.6991,-0.9910,0.9927,1.0133,0.2920,-2.5057,-0.3163,-0.3269,0.2893,1
3,1.8033,-2.1999,2.2266,-0.2955,-1.3722,5.3724,-1.5561,-1.6959,-2.7915,-0.8632,...,-1.8386,0.6844,-1.9892,0.0170,0.9279,-1.5677,0.7067,-1.6269,-0.4259,1
4,3.8977,2.5339,1.2420,1.0984,1.0324,1.9087,-2.3277,-1.7272,-1.8158,-1.4483,...,-1.8386,-0.8842,-2.9432,-2.1687,1.5310,-4.4192,1.0284,-0.4190,-0.3444,1

In [ ]:
X.max().max()

82.8193

In [ ]:
X= X.replace(np.nan, 0)

In [ ]:
y= y.replace(np.nan, 0)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=0)

print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
v=np.arange(0, 960)

In [ ]:

param_grid = {'n_neighbors': np.arange(1, 50)} #np.arange creates sequence of numbers for each k value

grid = GridSearchCV(KNeighborsClassifier(), param_grid=param_grid)

#use meta model methods to fit score and predict model:
grid.fit(X_train, y_train)

print("best mean cross-validation score: {:.3f}".format(grid.best_score_))
print("best parameters: {}".format(grid.best_params_))
print("test-set score: {:.3f}".format(grid.score(X_test, y_test)))

C:\Users\22151\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

best mean cross-validation score: 0.573
best parameters: {'n_neighbors': 18}
test-set score: 0.477

In [ ]:
np.array(X_train).reshape(-1,1)

array([[-3.0771],
       [-2.1999],
       [-0.9749],
       ...,
       [-1.7314],
       [-1.855 ],
       [ 1.    ]])

In [ ]:
model = LogisticRegression(C=1000,multi_class='multinomial')
model.fit(np.array(X_train.iloc[:,0]).reshape(-1,1), y_train)

LogisticRegression(C=1000, multi_class='multinomial')

In [ ]:
logreg = LogisticRegression(C=100,multi_class='multinomial').fit(np.array(X_train.iloc[:,1]).reshape(-1,1), y_train)
logreg.score(np.array(X_test.iloc[:,1]).reshape(-1,1), y_test)

0.4609375

In [ ]:
logreg .coef_

array([[ 0.01003495],
       [ 0.01292056],
       [-0.10534378],
       [-0.00922154],
       [ 0.09160981]])

In [ ]:
v= np.arange(0,960)
k={}

In [ ]:
for x in v:
    logreg = LogisticRegression(C=100,multi_class='multinomial').fit(np.array(X_train.iloc[:,x]).reshape(-1,1), y_train)
    score= logreg.score(np.array(X_test.iloc[:,x]).reshape(-1,1), y_test)
    k[x]=score

In [ ]:
new_k=dict(sorted(k.items(), key=lambda item: item[1],reverse=True))

In [ ]:
p=sorted(k, key=k.get, reverse=True)[:15]

In [ ]:
logreg = LogisticRegression(C=10000).fit(X_train.iloc[:,[417,161,247,338]], y_train)
score= logreg.score(np.array(X_test.iloc[:,[417,161,247,338]]), y_test)
print(score)

0.4765625

In [ ]:
logreg_1 = LogisticRegression(C=100000,multi_class='multinomial').fit(X_train, y_train)
score= logreg_1.score(X_test,y_test)
print(score)

0.3515625

In [ ]:
X.iloc[:,p]

,BCL11A,LMO1,KEAP1,PDCD11,MLLT3,DDX10,CCT6B,SETDB2,MLH1,FURIN,SLC1A2,ACVR2A,ERRFI1,LMO2,SH3GL1
0,0.4853,-0.4041,0.4341,0.8249,-2.2535,-6.6033,1.9728,-3.2212,-0.7821,-2.5195,-4.4575,-4.0010,1.3531,-3.4862,-1.0418
1,2.3773,0.1268,0.9739,2.4130,1.2037,2.8199,0.0382,1.6299,0.6329,0.7011,-1.5190,1.0703,-0.3309,-3.4671,2.0057
2,-1.2856,1.4757,-0.5459,1.9086,0.5060,4.5357,-1.5571,-3.2806,-0.1754,1.4363,-7.0535,-1.4897,2.3703,-4.5359,0.9877
3,-1.0051,-1.4634,-1.3722,1.5427,3.8884,3.3459,-1.5222,-1.2085,-0.7660,-0.7191,-4.9839,1.0533,0.4674,-2.8561,2.5643
4,-0.0920,2.4202,1.0324,1.4351,0.9011,-0.1661,0.0458,0.4813,2.0723,3.8839,-0.9595,-0.4318,1.5439,-2.3210,-0.7154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,0.0020,-0.3201,-0.1597,0.8287,0.9255,0.1653,0.3513,-0.9265,-1.5635,6.0183,-1.3298,1.2668,-0.0744,-3.1740,0.5763
506,2.0361,1.3101,1.9488,1.7840,0.6511,0.4257,-0.2404,-2.0634,1.3023,3.4638,-2.0041,0.8053,-0.2032,-4.2222,-0.8515
507,-1.2911,-1.4634,1.2164,2.3634,0.1954,1.1826,-1.4081,-0.9316,-4.2358,0.7584,-4.8433,-0.9203,2.9497,-6.1535,2.2607
508,0.3406,-0.4708,-0.1347,1.8285,-0.5636,1.9405,-0.3425,-1.4359,-0.9531,1.6057,-1.5438,-1.9590,-0.3001,-5.1965,-0.6726
509,1.8061,-1.4634,0.1127,0.5160,1.2603,1.3516,2.0397,0.1634,-1.6293,-0.0239,-0.4332,0.0066,-1.5354,-3.0200,0.7773

Here we can see the 14 most important gene to predict the tumor stage are FGF12	PDCD11 PTCH1 CUX1 NOTCH3 KDM4C TYRO3 DDX10 MLH1 ZNF384 SETD4 PHF1 SH3GL1 SETD7 TP53

In [ ]:
V= np.arange(0,960)
K={}

In [ ]:
for x in V:
    LR = LinearRegression().fit(np.array(X_train.iloc[:,x]).reshape(-1,1), y_train)
    score= LR.score(np.array(X_test.iloc[:,x]).reshape(-1,1), y_test)
    K[x]=score

In [ ]:
new_k=dict(sorted(k.items(), key=lambda item: item[1],reverse=True))

In [ ]:
p=sorted(k, key=k.get, reverse=True)[:15]

In [ ]:
p

[164, 879, 4, 161, 231, 392, 396, 397, 569, 606, 655, 696, 715, 746, 864]

In [ ]:
LR = LinearRegression().fit(X_train.iloc[:,p], y_train)
score= LR.score(np.array(X_test.iloc[:,p]), y_test)
print(score)

0.03919149557958468

In [ ]:
LR = LinearRegression().fit(X_train, y_train)
score= LR.score(X_test, y_test)
print(score)

-1.1136126466770597

MLP:

In [ ]:
clf = MLPClassifier(random_state=35, max_iter=1000).fit(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)

0.390625