In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

### Import preprocessed mRNA expression level profile and TNM staging details for each patient

Meaning of TMN cancer stages: 
https://www.cancer.gov/about-cancer/diagnosis-staging/staging

Idea behind this analysis is to try and test classification algorithms, to see if mRNA expression profile contains enough information for TMN cancer staging.

Each patient sample is assigned a stage for T, N, and M, indicating the stage of cancer progression for the primary tumor, whether the cancer has spread to lymph nodes, or if there is distant metastasis.

In [ ]:
mRNA_stage_df = pd.read_csv("mRNA_levels_cancer_stage.txt")

Separating X and Y features

In [ ]:
mRNA_df = mRNA_stage_df.drop(["PATIENT_ID", "M_STAGE", "N_STAGE", "T_STAGE"], axis = 1)
N_stage = mRNA_stage_df["N_STAGE"].values
M_stage = mRNA_stage_df["M_STAGE"].values
T_stage = mRNA_stage_df["T_STAGE"].values
mRNA_df.head()

   Unnamed: 0    A1BG    A1CF  A1CF.1  ...     ZYX   ZYX.1   ZZEF1    ZZZ3
0           1  2.1932 -0.1078 -0.1360  ... -0.4013 -2.1870  0.5752  1.7372
1           2  0.6506 -0.2093 -0.1355  ... -0.2012  0.7754 -1.3275  0.2790
2           3  0.0698 -0.2539 -0.1404  ... -0.0333 -0.1646 -0.1237 -0.6929
3           4  0.7134 -0.2692 -0.1378  ...  0.3487 -0.0650 -0.4777  0.7618
4           5  0.4841 -0.3077 -0.1463  ...  0.7458  0.5608 -0.0328 -0.2793

[5 rows x 31318 columns]

### KNN classifier based on lymph node stage (N_stage)

CV scores not great for lymph node staging.

In [27]:
X_train, X_test, y_train, y_test = train_test_split(mRNA_df, N_stage)

In [28]:
knn_classify = KNeighborsClassifier(n_neighbors = 5)
knn_classify.fit(X_train, y_train)

print("KNN classifier, n_neighbors = 5, KFold CV:")
print("Mean training set CV score:\n{:.3f}".format(
    np.mean(cross_val_score(knn_classify, X_train, y_train))))
print("Test set CV score:\n{:.3f}".format(
    np.mean(cross_val_score(knn_classify, X_test, y_test))))

KNN classifier, n_neighbors = 5, KFold CV:

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

Mean training set CV score:
0.353

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

Test set CV score:
0.583

GridSearchCV for KNN classifier based on lymph node stage

In [30]:
# stratified kfold
skfold = StratifiedKFold(n_splits = 5, shuffle = True)
# kfold with shuffling
kfold = KFold(n_splits = 5, shuffle = True)

knn_param_grid = {'n_neighbors': np.arange(1, 10, 2)}

knn_k_fold_grid = GridSearchCV(KNeighborsClassifier(), 
                        param_grid = knn_param_grid, 
                        cv = kfold)

knn_sk_fold_grid = GridSearchCV(KNeighborsClassifier(), 
                        param_grid = knn_param_grid, 
                        cv = skfold)

knn_k_fold_grid.fit(X_train, y_train)
knn_sk_fold_grid.fit(X_train, y_train)

print("KNN Classifier, lymph node stage, k-fold:")
print("Best mean CV score: {:.3f}".format(knn_k_fold_grid.best_score_))
print("Best parameters: {}".format(knn_k_fold_grid.best_params_))
print("Test-set score: {:.3f}".format(knn_k_fold_grid.score(X_test, y_test)))
print("\n")
print("KNN Classifier, lymph node stage, stratified k-fold:")
print("Best mean CV score: {:.3f}".format(knn_sk_fold_grid.best_score_))
print("Best parameters: {}".format(knn_sk_fold_grid.best_params_))
print("Test-set score: {:.3f}".format(knn_sk_fold_grid.score(X_test, y_test)))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

KNN Classifier, lymph node stage, k-fold:
Best mean CV score: 0.427
Best parameters: {'n_neighbors': 7}
Test-set score: 0.389


KNN Classifier, lymph node stage, stratified k-fold:
Best mean CV score: 0.518
Best parameters: {'n_neighbors': 9}
Test-set score: 0.389

### KNN classifier based on Metastasis stage (M_stage)

- Good CV scores

In [24]:
X_train, X_test, y_train, y_test = train_test_split(mRNA_df, M_stage)

In [25]:
knn_classify = KNeighborsClassifier(n_neighbors = 5)
knn_classify.fit(X_train, y_train)

print("KNN classifier, n_neighbors = 5, KFold CV:")
print("Mean training set CV score:\n{:.3f}".format(
    np.mean(cross_val_score(knn_classify, X_train, y_train))))
print("Test set CV score:\n{:.3f}".format(
    np.mean(cross_val_score(knn_classify, X_test, y_test))))

KNN classifier, n_neighbors = 5, KFold CV:
Mean training set CV score:
0.871

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

Test set CV score:
0.950

This possibly means the mRNA expression profile is adequete for predicting whether the cancer has metastasized. 

Will we have better performance after feature selection?

GridSearchCV for KNN classifier based on Metastasis stage

- comparing two CV strategies, stratified kfold and kfold (both with shuffling)
- Best parameter setting is 3 neighbors.

In [26]:
# stratified kfold
skfold = StratifiedKFold(n_splits = 5, shuffle = True)
# kfold with shuffling
kfold = KFold(n_splits = 5, shuffle = True)

knn_param_grid = {'n_neighbors': np.arange(1, 10, 2)}

knn_k_fold_grid = GridSearchCV(KNeighborsClassifier(), 
                        param_grid = knn_param_grid, 
                        cv = kfold)

knn_sk_fold_grid = GridSearchCV(KNeighborsClassifier(), 
                        param_grid = knn_param_grid, 
                        cv = skfold)

knn_k_fold_grid.fit(X_train, y_train)
knn_sk_fold_grid.fit(X_train, y_train)

print("KNN Classifier, Metastasis stage, k-fold:")
print("Best mean CV score: {:.3f}".format(knn_k_fold_grid.best_score_))
print("Best parameters: {}".format(knn_k_fold_grid.best_params_))
print("Test-set score: {:.3f}".format(knn_k_fold_grid.score(X_test, y_test)))
print("\n")
print("KNN Classifier, Metastasis stage, stratified k-fold:")
print("Best mean CV score: {:.3f}".format(knn_sk_fold_grid.best_score_))
print("Best parameters: {}".format(knn_sk_fold_grid.best_params_))
print("Test-set score: {:.3f}".format(knn_sk_fold_grid.score(X_test, y_test)))

KNN Classifier, Metastasis stage, k-fold:
Best mean CV score: 0.891
Best parameters: {'n_neighbors': 3}
Test-set score: 0.944


KNN Classifier, Metastasis stage, stratified k-fold:
Best mean CV score: 0.871
Best parameters: {'n_neighbors': 3}
Test-set score: 0.944

### KNN classifier based on primary tumor stage (T_stage)

CV scores not great for primary tumor staging.

In [18]:
X_train, X_test, y_train, y_test = train_test_split(mRNA_df, T_stage)

In [20]:
knn_classify = KNeighborsClassifier(n_neighbors = 5)
knn_classify.fit(X_train, y_train)

print("KNN classifier, n_neighbors = 5, KFold CV:")
print("Mean training set CV score:\n{:.3f}".format(
    np.mean(cross_val_score(knn_classify, X_train, y_train))))
print("Test set CV score:\n{:.3f}".format(
    np.mean(cross_val_score(knn_classify, X_test, y_test))))

KNN classifier, n_neighbors = 5, KFold CV:
Mean training set CV score:
0.480

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

Test set CV score:
0.333

GridSearchCV for KNN classifier based on primary tumor stage (T_stage)

In [22]:
# stratified kfold
skfold = StratifiedKFold(n_splits = 5, shuffle = True)
# kfold with shuffling
kfold = KFold(n_splits = 5, shuffle = True)

knn_param_grid = {'n_neighbors': np.arange(1, 10, 2)}

knn_k_fold_grid = GridSearchCV(KNeighborsClassifier(), 
                        param_grid = knn_param_grid, 
                        cv = kfold)

knn_sk_fold_grid = GridSearchCV(KNeighborsClassifier(), 
                        param_grid = knn_param_grid, 
                        cv = skfold)

knn_k_fold_grid.fit(X_train, y_train)
knn_sk_fold_grid.fit(X_train, y_train)

print("KNN Classifier, primary tumor stage, k-fold:")
print("Best mean CV score: {:.3f}".format(knn_k_fold_grid.best_score_))
print("Best parameters: {}".format(knn_k_fold_grid.best_params_))
print("Test-set score: {:.3f}".format(knn_k_fold_grid.score(X_test, y_test)))
print("\n")
print("KNN Classifier, primary tumor stage, stratified k-fold:")
print("Best mean CV score: {:.3f}".format(knn_sk_fold_grid.best_score_))
print("Best parameters: {}".format(knn_sk_fold_grid.best_params_))
print("Test-set score: {:.3f}".format(knn_sk_fold_grid.score(X_test, y_test)))

KNN Classifier, primary tumor stage, k-fold:
Best mean CV score: 0.478
Best parameters: {'n_neighbors': 1}
Test-set score: 0.222


KNN Classifier, primary tumor stage, stratified k-fold:
Best mean CV score: 0.482
Best parameters: {'n_neighbors': 1}
Test-set score: 0.222